.button {
    background-color: $yellow-color;
    border: none;
    color: $black-color;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    // z-index: -1;
    &:hover{
        transform: translateY(-5px);
    }
    // margin: 1rem;
}